.center-box {
  width: 100%;
  margin-top: 20px;
  min-height: 100vh;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.dropdown {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 20px;
  flex-grow: 1;
}

.box {
  display: flex;
  flex-direction: column;
  width: 80vw;
  min-height: 45vh;
  padding: 20px;
  border: 2px ;
  padding-bottom: 10vh;
}

.dropdown-boxes {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.checkbox {
  display: flex;
  justify-content: end;
  gap: 5px;
  align-items: center;
}

.buttons-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 20px;
}

.buttons {
  border: 2px ;
  border-radius: 25px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.buttons-text {
  text-align: center;
  text-align: center;
  text-decoration-line: none;
  color: black;
  margin: 0;
  padding: 0;
}

.headings {
  width: 100%;
  text-align: center;
}





.sidenav{
display:flex;
flex-direction: row;
justify-items: center;
gap: 10px;
padding-right: 10px;
font-size: 20px;
}

.topnav{
  display:flex;
  flex-direction: row;
  align-items: left;
  justify-content: space-between;
}



@media (min-width: 1193px) {
  .center-box {
    width: 100vw;
    height: 100vh;
    align-items: center;
    display: flex;
    gap: 60px;
    flex-direction: row;
    margin-left: 250px;
    justify-content: center;
  }

  .dropdown {
    display: flex;
    flex-direction: column;
  }

  .box {
    display: flex;
    flex-direction: row;
    min-width: 50vw;
    min-height: 50vh;
    border: 2px solid;
    padding-bottom: 25vh;
  }

  .dropdown-boxes {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .checkbox {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    align-items: center;
    gap: 7px;
  }

  .buttons-box {
    display: flex;
    flex-direction: column;
    gap: 30px;

  }

  .buttons {
    border: 2px solid ;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 200px;
  }

  .buttons-text {
    text-align: center;
    text-align: center;
    text-decoration-line: none;
    color: black;
  }

  .headings {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: large;
  }

  .headings-text {
    text-align: center;
  }

  .popdowns {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 50px;
    margin-right: 20px;
  }

  

}